<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "FAQ", '#' %></li>
      <li><%= link_to "Become A Driver", '#' %></li>
    </ul>
  </nav>
</footer>